.gradle/
build/
logs/
out/
run/

*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
notes/
outputs/
assets/
video_frames/
META-INF/
*.log
*.gz
hs_err_pid*.log
replay_pid*.log
.idea/
*.iml
.vscode/
bin/
Thumbs.db
.DS_Store
__pycache__/
*.pyc

